@{
    ViewBag.Title = "Araç Kayıt Sonucu";
}

<div class="container mt-4">
    <h2>Araç Kayıt Sonucu</h2>
    @if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-success mt-4">
            @TempData["SuccessMessage"]
        </div>
    }
    else
    {
        <div class="alert alert-danger mt-4">
            Bir sorun oluştu. Kayıt işlemi tamamlanamadı.
        </div>
    }
    <a class="btn btn-sm btn-outline-primary" href="/Home/index"> Ana Menüye dönün</a>
</div>
